       <div style="margin-top: 500px">
           
        
       </div>
        <h2>Product Sales Report</h2>
    {{#if bill}}
    <table class="table1">
        <b>Costumer</b>
        <tr>
            <td><b>FiscalNumber</b></td>
           
            <td>{{bill.FiscalNumber}}</td>
          </tr>
            <tr>
            <td><b>FiscalDate</b></td>
           
            <td>{{bill.FiscalDate}}</td>
          </tr>
            <tr>
            <td><b>FiscalTime</b></td>
           
            <td>{{bill.FiscalTime}}</td>
          </tr>
        </table>
    {{/if}}

{{#each products}}
    <table class="table2"> 
  <thead>
    <tr>
      <th scope="col">Product name</th>
      <th scope="col">Cost price</th>
      <th scope="col">Quantity sold</th>
      <th scope="col">Amount</th>   
      <th scope="col">Amount with PDV:</th>         
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Product name">{{this.name}}</td>
      <td data-label="Cost price">$ {{this.price}}</td>
      <td data-label="Quantity sold">{{this.quantity}}</td>
      <td data-label="Amount">$ {{this.amountPriceElem}}</td>
      <td data-label="Amount with PDV:">$ {{this.amountPriceElemPDV}}</td>
    </tr>
   
  </tbody>
    {{/each}}
    {{#if amountPrice}}
  <tfoot>
    <tr>
      <th id="total" colspan="3">Total :</th>
      <td>${{amountPrice}}</td>
    </tr>
    <tr>
      <th id="total" colspan="3">Total with PDV:</th>
      <td>${{amountPricePDV}}</td>
    </tr>
   </tfoot>
</table>
 {{/if}}
 {{#if user}}
        <button>
            <a type="button" href="/user/orders/{{user.id}}" style="color: black; text-decoration: none"><b>&nbsp ORDERS &nbsp</b> </a> <br></button>
           {{/if}}    
                <br>
                <br>
   </body>
