<div class="table-container">
  <h1 class="heading">Branches</h1>
  <div>
    <button><a
        type="button"
        href="/warehouse/branhces/addproductbranch"
        style="color: black; "
      ><b>&nbspADD PRODUCT TO THE BRANCH +&nbsp</b> </a>
      <br /></button>
    <br />
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      {{#each branches}}
        <tr>
          <td data-label="ID">{{this.id}}</td>
          <td data-label="name">{{this.name}}</td>
          <td data-label="Operations">
            <a
              href="/warehouse/branches/viewproducts/{{this.id}}"
              type="button"
              style="color: black"
            >View</a>
            <a
              href="/warehouse/branches/brancheproducts/{{this.id}}"
              type="button"
              style="color: black"
            >Add product</a>
            <a
              href="/admin/users/remove/{{this.id}}"
              type="button"
              style="color: red"
            >Delete</a>
          </td>

        </tr>
      {{/each}}
    </tbody>
  </table>
</div>