<div class="wrapper">
  <h2>Change password</h2>
  {{#if alertInvalid}}
        <br>
         <h4 style="color: red">{{alertInvalid}}</h4 >
    {{/if}}
     {{#if alert}}
        <br>
         <h4 style="color: green">{{alert}}</h4 >
    {{/if}}
    {{#if user}}
  <form action="/user/editPassword/{{user.id}}" method="post">
    <div class="input-box">
      <input type="text" required readonly value="{{user.pitanje_1}}"/>
    </div>
    <div class="input-box">
      <input type="text" name="answer_1" placeholder="Answer to the question" required />
    </div>
    <div class="input-box">
      <input type="text" required readonly value="{{user.pitanje_2}}"/>
    </div>
    <div class="input-box">
      <input type="text" name="answer_2" placeholder="Answer to the question" required />
    </div>
    <label>--------------------</label>
    <div class="input-box">
      <input type="password" name="oldPassword" placeholder="Old password" required />
    </div>

    <div class="input-box">
      <input type="password" name="newPassword1" placeholder="New password" required />
    </div>

    <div class="input-box">
      <input type="password" name="newPassword2" placeholder="Confirm password" required />
    </div>

    <div class="input-box button">
      <input type="Submit" value="OK" />
    </div>
    {{/if}}
  </form>
</div>