<div class="wrapper">
  <h2>Edit User</h2>
  {{#if alert}}
  <div>
    <br>
    <h4 style="color: green">{{alert}}</h4 >
  </div>
  {{/if}}
  {{#if data}}
  <form action="/admin/users/edit/{{data.id}}" method="post">
    <div class="input-box">
      <input type="text" name="name" placeholder="Name:" value="{{data.name}}"/>
    </div>
    <div class="input-box">
      <input type="text" name="surname" placeholder="Surname:" value="{{data.surname}}"/>
    </div>
    <div class="input-box">
      <input type="text" name="username" placeholder="Username:" required value="{{data.username}}"/>
    </div>
    <div class="input-box">
      <input type="text" name="address" placeholder="Address:" value="{{data.address}}"/>
    </div>
    <div class="input-box">
      <input type="text" name="phone" placeholder="Phone:" value="{{data.phone}}"/>
    </div>
    <div class="input-box">
      <input type="email" name="email" placeholder="Email:" value="{{data.email}}"/>
    </div>
    <div class="input-box">
      <input type="password" name="password" placeholder="Password" value="{{data.password}}" required/>
    </div>
    <div class="box">
        {{#select data.access}}
        <select name="access" id="acces1">
            <option value="user" selected>User</option>
            <option value="admin_warehouse">Admin Warehouse</option>
        </select>
        {{/select}}
    </div>
 {{/if}}
    <!--
    <div class="policy">
      <input type="checkbox" name="" value="" />
      <h3>I accept all terms & condition</h3></div>
      -->
      <br><br>
    <div class="input-box button">
      <input type="submit" value="Edit User" />
    </div>
  </form>   
   <div class="input-box button">
      <a type="button" href="/admin/users"> <-Users</a>
    </div>

</div>