    <div class="table-container">
    <h1 class="hProd" >Products Cart</h1>
  
    {{#if alert}}
    <div>
        <br>
        <h4 style="color: green">{{alert}}</h4 >
    </div>
    {{/if}}
        <table class="table">
             <thead>
             
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Operations</th>            
                </tr>
                     </thead>
                     <tbody>
                        {{#each products}}
                         <tr>
                            <td data-label="ID">{{this.id}}</td>
                            <td data-label="name">{{this.name}}</td>
                             <td data-label="quantity">{{this.quantity}}</td>
                             <td data-label="Operations">
                                 <a
              href="/warehouse/products/quantity/{{this.id}}"
              type="button"
              style="color: black"
            >Quantity</a>
            <a
              href="/warehouse/products/edit/{{this.id}}"
              type="button"
              style="color: black"
            >Edit</a>

            <a
              href="/warehouse/products/remove/{{this.id}}"
              type="button"
              style="color: black"
            >Remove</a>
         </td>
                     </tr>
                        
                        {{/each}}
                     </tbody>
                 </table>
             </div>
    

     <div class="d-flex justify-content-between">
         <div class="text-muted">
            
         </div>
        
          <div >
                 <button class="btnAdd" ><a href="/warehouse/products/add">
                 <b class="addB">ADD NEW PRODUCT+</b></a></button>
             </div>
         
     </div>
 
 </div>
