       <div style="margin-top: 50px">
          
        
       </div>
        <h2>Product Sales Report</h2>
    {{#if user}}
    <table class="table1">
        <b>Costumer</b>
        <tr>
            <td><b>Username </b></td>
           
            <td>{{user.username}}</td>
          </tr>
          {{#if order}}
          <tr>
            <td><b>Order name</b> </td>
            
            <td>{{order.name}}</td>
          </tr>
          <tr>
            <td><b>Table</b> </td>
            
            <td>{{order.table}}</td>
          </tr>
          <tr>
            <td><b>Order Date</b> </td>
           
            <td>{{order.order_date}}</td>
          </tr>
          {{/if}}
        </table>
    {{/if}}

{{#each products}}
    <table class="table2"> 
  <thead>
    <tr>
      <th scope="col">Product name</th>
      <th scope="col">Cost price</th>
      <th scope="col">Quantity sold</th>
      <th scope="col">Amount</th>   
      <th scope="col">Amount with PDV:</th>         
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Product name">{{this.name}}</td>
      <td data-label="Cost price">$ {{this.price}}</td>
      <td data-label="Quantity sold">{{this.quantity}}</td>
      <td data-label="Amount">$ {{this.amountPriceElem}}</td>
      <td data-label="Amount with PDV:">$ {{this.amountPriceElemPDV}}</td>
    </tr>
   
  </tbody>
    {{/each}}
    {{#if amountPrice}}
  <tfoot>
    <tr>
      <th id="total" colspan="3">Total :</th>
      <td>${{amountPrice}}</td>
    </tr>
    <tr>
      <th id="total" colspan="3">Total with PDV:</th>
      <td>${{amountPricePDV}}</td>
    </tr>
   </tfoot>
</table>
 {{/if}}
 {{#if user}}
        <button>
            <a type="button" href="/user/orders/{{user.id}}" style="color: black; text-decoration: none"><b>&nbsp <- ORDERS &nbsp</b> </a> <br></button>
           {{/if}}  
            {{#if order}}  
            <button>
            <a type="button" href="/user/orders/{{order.id}}/finish" style="color: black; text-decoration: none"><b>&nbsp FINISH &nbsp</b> </a> <br></button>
            {{/if}}  
                <br>
                <br>
   </body>
