<div class="table-container">
  <h1 class="heading">Users</h1>
  <div>
    <button><a type="button" href="/admin/users/add" style="color: black; "><b>&nbspADD NEW USER +&nbsp</b> </a> <br></button>
    <br>
  </div>
   {{#if alert}}
  <div>
    <br>
    <h4 style="color: green">{{alert}}</h4 >
  </div>
  {{/if}}
  <table class="table">
     <br>
    <thead>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>

      {{#each users}}
        <tr>
          <td data-label="ID">{{this.id}}</td>
          <td data-label="Username">{{this.username}}</td>
          <td data-label="Operations">
           
            <a
              href="/admin/users/edit/{{this.id}}"
              type="button"
              style="color: white"
            >Edit</a>
            <a
              href="/admin/users/remove/{{this.id}}"
              type="button"
              style="color: white"
            >Delete</a>
          </td>

        </tr>
      {{/each}}
    </tbody>
  </table>

</div>